@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 1024px;
    margin: 0 auto;
    background-image: url(imagens/fundo2.png);
    background-repeat: repeat;
}

/*Sessão Header*/
#cabecalho{
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
    margin: 20px;
}

.menu{
    margin: 20px 10px;
    padding: 10px;
}

.menu-itens .itens{
    list-style: none;
    display: inline;
    padding-left: 5px;
}

a:link{
    text-decoration: none;
    color: #0000ff;
}

a:visited{
    color: #0000ff;
}

a:hover{
    font-size: 18px;
    color: #8a2be2;
}

/*Sessão Geral*/
.capa{
    width: 1024px;
}

.apresentacao{
    margin-top: 20px;
}

h1{
    font-size: 20px;
}

h2{
    margin-top: 20px;
    font-size: 18px;
}

p{
    margin-top: 20px;
    font-size: 16px;
}

.motivos-itens{
    margin: 30px;
}

#artigo{
    margin: 20px;
}
/*Sessão Formulario*/
form{
    margin-top: 20px;
}

input{
    width: 200px;
    margin: 5px 0px;
    padding: 5px;
}

.enviar{
    background-color: #e0e0f7;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 1em;
    width: 70px;
}

.enviar:hover{
    font-size: 18px;
    cursor: pointer;
    transition: 500ms linear;
}

#descricao{
    font-size: 18px;
}

/*Sessão Rodapé*/
footer{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}